.container {
    display: inline-grid;
    grid-template: 100px 300px 200px / 175px 581px 581px;
    background-color: lightblue; 
  }
  
.room {
    border: 1px solid;
    font-size: 50%;
    text-align: center;
  }
  
#navbar {
  background-color: #ffe4e6;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 1;
  }
  
  
#content {
  background-color: #f5f3ff;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 6;
  }
  
#menu {
    background-color: #ede9fe;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 6;
  }
  
.container-c {
  margin-top: 10px;
    margin-left: 40px;
    padding: 10px;
    display: grid;
    grid-template-rows: repeat(3, 110px);
    grid-template-columns: repeat(3, 320px);
    gap: 42px;
  }
  
.item {
    background-color: #fffbeb;
    border: 1px solid black;
    text-align: center;
    border-radius: 20px;
  }
  